.head-top{background:#1A3958;font-weight:700;margin-bottom: 0;}
.head-top a{color:#fff;}
.big-chest{padding: 90px 0 90px;margin-bottom:0;color:#fff;text-align:center;background:#05B7E5;}
.big-chest h1{font-weight:700;font-size:100px;text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);}
.big-chest h2{font-weight:700;font-size:50px;}
.big-chest p{margin-top:30px;}
.calves{margin-top:20px;}
.calves h1{margin-top:20px;}
.footer{padding:40px 0; margin-top:40px;text-align:center;border-top: 1px solid #e5e5e5;color: #767676;}

.bread{border-bottom: 1px solid #e5e5e5;}
.bread{padding: 15px 0 5px;}